<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <br><br><br><br><br>

      <!-- Page content -->
      <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Creates</h3>
            </div>
            <div class="card-body">
              <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

                <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)"
                  [class.hovering]="isHovering">

                  <h3>Upload image</h3>
                  <p class="fa fa-cloud-upload"></p>
                  <div class="file">
                    <label class="file-label">
                      <!-- <form #form="ngForm" (submit)="onSubmitUploadImage(form)"> -->
                      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                      <input class="file-input" type="file" (change)="onDrop($event.target.files)">

                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">
                          or choose a file…
                        </span>
                      </span>
                      <!-- <button type="submit" class="btn btn-outline-success">
                          upload
                        </button> -->
                      <div class="validation-error" *ngIf="isSubmitted">
                        This field is required.
                      </div>
                      <!-- </form> -->
                    </label>
                  </div>
                </div>

                <div *ngIf="percentage | async as pct">

                  <progress class="progress is-info" [value]="pct" max="100">
                  </progress>

                  {{ pct | number }}%

                </div>

                <div *ngIf="(snapshot | async) as snap">
                  size {{ snap.bytesTransferred }} of {{ snap.totalBytes }}
                </div>

                <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input name="name" #Name="ngModel" [(ngModel)]="service.formData.name" class="form-control"
                      placeholder="Name" required>
                    <div *ngIf="Name.invalid && Name.touched" class="validation-error">This field is required.</div>
                  </div>
                  <div class="form-group col-md-6">
                    <select class="form-control" name="category_id" #category_id="ngModel"
                      [(ngModel)]="service.formData.category_id">
                      <option *ngFor="let data of listCate;" [value]="data.id">
                        {{data.Name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input name="price" #Price="ngModel" [(ngModel)]="service.formData.price" class="form-control"
                      placeholder="Price">
                  </div>
                  <div class="form-group col-md-6">
                    <input name="size" #Size="ngModel" [(ngModel)]="service.formData.size" class="form-control"
                      placeholder="Size">
                  </div>
                </div>
                <div class="form-group">
                  <input name="description" #Description="ngModel" [(ngModel)]="service.formData.description"
                    class="form-control" placeholder="Description">
                </div>
                <div class="form-group">
                  <button type="submit" [disabled]="form.invalid" class="btn btn-outline-info">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <br>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <th class="h">Name</th>
                  <th class="h">Price / Size</th>
                  <th class="h">Description</th>
                  <th class="h">Image</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let data of list">
                    <td (click)="onEdit(data)" class="s">{{data.name}}</td>
                    <td (click)="onEdit(data)" class="s">{{data.price}} THB. - {{data.size}}</td>
                    <td (click)="onEdit(data)" class="s">{{data.description}}</td>
                    <td><a class="btn text-success" (click)="open1(content1,data.id)"><i class="fa fa-play"></i></a>
                    </td>
                    <img class="rounded-circle" style="height: 80px;width: 80px;" [src]="data.image_url">
                    <td><a class="btn text-danger" (click)="onDelete(data.id)"><i class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                    <br><br>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--- ------------------Modal with date picker (NgbdModalBasicComponent)---------------------->
        <ng-template #content1 let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Video Advertise</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class='table'>
              <thead>
                <tr>
                  <td>Url for youtube</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <form (submit)="onSubmitYoutube(form)" #form="ngForm" autocomplete="off">
                      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formDataYoutube.id">
                      <input type="hidden" name="product_id" #product_id="ngModel"
                        [(ngModel)]="service.formDataYoutube.product_id">
                      <input type="text" placeholder="youtube video url" name="url" #url="ngModel"
                        [(ngModel)]="service.formDataYoutube.url" class="form-control col-md-6">
                      <br><br>
                      <button type="submit" class="btn btn-outline-success col-md-6"> save </button>
                    </form>
                    <br><br>
                    <button (click)="onPreview()" type="button" class="btn btn-outline-info col-md-6"> preview </button>
                  </td>
                  <td>
                    <div *ngIf="isHidden">
                      <youtube-player [videoId]="idView" (ready)="savePlayer($event)" (change)="onStateChange($event)">
                      </youtube-player>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </ng-template>
        <!--- ------------------Modal with date picker (NgbdModalBasicComponent)---------------------->
      </div>
    </div>
  </div>
</div>