<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <br><br><br><br><br>

      <!-- Page content -->
      <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Category</h3>
            </div>
            <div class="card-body">
              <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">

                <div class="form-group">
                  <input [disabled]="true" name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control"
                    placeholder="Name">
                </div>

                <div class="form-group">
                  <input name="Detail" #Detail="ngModel" [(ngModel)]="service.formData.Detail" class="form-control"
                    placeholder="Detail" required>
                    <div *ngIf="Detail.invalid && Detail.touched" class="validation-error">This field is required.</div>
                </div>

                <div class="form-group">
                  <button type="submit" [disabled]="form.invalid" class="btn btn-outline-info">Edit</button>
                </div>

              </form>
            </div>
          </div>
        </div>

        <br>

        <div class="col">
          <div class="card shadow">

            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <th class="h" style="width: 20%;">Category Name</th>
                  <th class="h">Detail</th>
                  <th class="h">Edit</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let cate of list">
                    <td class="s" style="width: 20%;">{{cate.Name}}</td>
                    <td class="s">{{cate.Detail}}</td>
                    <td><a class="btn text-primary" (click)="onEdit(cate)"><i class="far fa-edit"></i></a>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>