<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <br><br><br><br><br>

      <!-- Page content -->
      <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0" class="h">Create account</h3>
            </div>
            <div class="card-body">

              <form #form="ngForm" [formGroup]="register">

                <div class="form-group input-group col-md-6">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user" style="color: #7B68EE;"></i> </span>
                  </div>
                  <!-- <input [(ngModel)]="service.formData.name" name="name" #name="ngModel" class="form-control"
                    placeholder="Name" required> -->

                    <input formControlName="name" name="name" class="form-control"
                    placeholder="Name" required>
                </div>

                <div class="form-group input-group col-md-6">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-address-book" style="color: #7B68EE;"></i> </span>
                  </div>
                  <!-- <select class="form-control custom-select" name="status" [(ngModel)]="service.formData.status">
                    <option value="">User Option</option>
                    <option class="status" value="u">User</option>
                    <option class="status" value="a">Admin</option>
                  </select> -->

                  <select class="form-control custom-select" formControlName="status" name="status" >
                    <option value="">User Option</option>
                    <option class="status" value="u">User</option>
                    <option class="status" value="a">Admin</option>
                  </select>
                </div>

                <div class="form-group input-group col-md-6">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope" style="color: #7B68EE;"></i> </span>
                  </div>
                  <!-- <input [(ngModel)]="service.formData.email" #email="ngModel" type="email" name="email"
                    class="form-control" placeholder="Email" required> -->
                    <input formControlName="email" type="email" name="email"
                    class="form-control" placeholder="Email" required>
                </div>

                <div class="form-group input-group col-md-6">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock fa-lg" style="color: #7B68EE;"></i> </span>
                  </div>
                  <!-- <input [(ngModel)]="service.formData.password" type="password" name="password" #password="ngModel"
                    class="form-control" placeholder="Password" required> -->
                    <input formControlName="password" type="password" name="password"
                    class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group input-group col-md-6">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock fa-lg" style="color: #7B68EE;"></i> </span>
                  </div>
                  <!-- <input type="password" name="ConfPassword" class="form-control" placeholder="Confirm Password"
                    required> -->
                    <input formControlName="confPassword" type="password" name="ConfPassword" class="form-control" placeholder="Confirm Password"
                    required>
                </div>

                <div *ngFor="let item of msgError" class="form-group col-md-6 red">*
                  {{item}}
                </div>

                <div class="form-group col-md-6">
                  <button type="button" (click)="signUp()" class="btn btn-primary btn-block"> Create Account
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!--   <br>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <th class="h">Name</th>
                  <th class="h">Email</th>
                  <th class="h">Type</th>
                  <th class="h">Delete</th>
                </thead>
                <tbody>
                  <tr *ngFor="let dataRegister of listRegister">
                    <td class="s">{{dataRegister.name}}</td>
                    <td class="s">{{dataRegister.email}}</td>
                    <td class="s">{{dataRegister.type}}</td>

                    <td><a class="btn text-danger" (click)="onDelete(dataRegister.id)"><i
                          class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> -->

        <br>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="head">Super admin</h5>
              <table class="table table-hover" style="text-align: center;">
                <thead class="thead-dark">
                  <th class="h" style="color: white;">Name</th>
                  <th class="h" style="color: white;">Email</th>
                  <th class="h" style="color: white;">Type</th>
                  <th class="h" style="color: white;">Delete</th>
                </thead>
                <tbody>
                  <tr *ngFor="let dataRegister of listRegister_some_sa">
                    <td class="s">{{dataRegister.name}}</td>
                    <td class="s">{{dataRegister.email}}</td>
                    <td class="s">{{dataRegister.type}}</td>

                    <td><a class="btn text-danger" (click)="onDelete(dataRegister.id)"><i
                          class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <br>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="head">Admin</h5>
              <table class="table table-hover" style="text-align: center;">
                <thead class="thead-light ">
                  <th class="h" style="color: black;">Name</th>
                  <th class="h" style="color: black;">Email</th>
                  <th class="h" style="color: black;">Type</th>
                  <th class="h" style="color: black;">Delete</th>
                </thead>
                <tbody>
                  <tr *ngFor="let dataRegister of listRegister_some_a">
                    <td class="s">{{dataRegister.name}}</td>
                    <td class="s">{{dataRegister.email}}</td>
                    <td class="s">{{dataRegister.type}}</td>

                    <td><a class="btn text-danger" (click)="onDelete(dataRegister.id)"><i
                          class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <br>
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="head">User</h5>
              <table class="table table-hover" style="text-align: center;">
                <thead class="thead-light ">
                  <th class="h" style="color: black;">Name</th>
                  <th class="h" style="color: black;">Email</th>
                  <th class="h" style="color: black;">Type</th>
                  <th class="h" style="color: black;">Delete</th>
                </thead>
                <tbody>
                  <tr *ngFor="let dataRegister of listRegister_some_u">
                    <td class="s">{{dataRegister.name}}</td>
                    <td class="s">{{dataRegister.email}}</td>
                    <td class="s">{{dataRegister.type}}</td>

                    <td><a class="btn text-danger" (click)="onDelete(dataRegister.id)"><i
                          class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
