<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <br><br><br><br><br>

      <!-- Page content -->
      <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0" class="h">Creates</h3>
            </div>
            <div class="card-body">
              <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

                <!-- <app-uploader></app-uploader> <br> -->
                <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)"
                  [class.hovering]="isHovering">

                  <h3 class="h">Upload image</h3>
                  <p class="fa fa-cloud-upload"></p>
                  <div class="file">
                    <label class="file-label">
                      <!-- <form #form="ngForm" (submit)="onSubmitUploadImage(form)"> -->
                      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id" class="fontall">
                      <input class="file-input" type="file" (change)="onDrop($event.target.files)" class="fontall">

                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label" class="h">
                          or choose a file…
                        </span>
                      </span>
                      <!-- <button type="submit" class="btn btn-outline-success">
                          upload
                        </button> -->
                      <div class="validation-error" *ngIf="isSubmitted" class="fontall_error">
                        This field is required.
                      </div>
                      <!-- </form> -->
                    </label>
                  </div>
                </div>

                <div *ngIf="percentage | async as pct" class="fontall">

                  <progress class="progress is-info" [value]="pct" max="100">
                  </progress>

                  {{ pct | number }}%

                </div>

                <div *ngIf="(snapshot | async) as snap" class="fontall">
                  size {{ snap.bytesTransferred }} of {{ snap.totalBytes }}
                </div>


                <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                <div class="form-row">
                  <div class="form-group col-md-6" >
                    <input name="name" #Name="ngModel" [(ngModel)]="service.formData.name" class="form-control" 
                      placeholder="Name" required>
                    <div *ngIf="Name.invalid && Name.touched" class="validation-error" class="fontall_error">This field is required.</div>
                  </div>
                  <div class="form-group col-md-6">
                    <select class="form-control" name="category_id" #category_id="ngModel"
                      [(ngModel)]="service.formData.category_id">
                      <option *ngFor="let data of listCate;" [value]="data.id ">
                        {{data.Name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input name="Price" #Price="ngModel" [(ngModel)]="service.formData.Price" class="form-control"
                      placeholder="Price">
                  </div>
                  <div class="form-group col-md-6">
                    <input name="Size" #Size="ngModel" [(ngModel)]="service.formData.Size" class="form-control"
                      placeholder="Size">
                  </div>
                </div>
                <div class="form-group">
                  <input name="Description" #Description="ngModel" [(ngModel)]="service.formData.Description"
                    class="form-control" placeholder="Description">
                </div>
                <div class="form-group">
                  <button type="submit" [disabled]="form.invalid" class="btn btn-outline-info" >Submit</button>
                  <button type="button" (click)="clearData()" [disabled]="form.invalid"
                    class="btn btn-outline-dark">Clear</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <br>

        <div class="col">
          <div class="card shadow">

            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <th class="h">Name</th>
                  <th class="h">Price / Size</th>
                  <th class="h">Description</th>
                  <th class="h">Video</th>
                  <th class="h">Image</th>
                  <th class="h">Edit</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr *ngFor="let emp of list">
                    <td class="s">{{emp.name}}</td>
                    <td class="s">{{emp.Price}} THB.- / {{emp.Size}}</td>
                    <td class="s">{{emp.Description}}</td>
                    <td><a class="btn text-success" (click)="open1(content1,emp.id)"><i class="fa fa-play"></i></a></td>

                    <img class="img-thumbnail" style="height: 80px;width: 80px;" [src]="emp.image_url">
                    <td><a class="btn text-primary" (click)="onEdit(emp)"><i class="far fa-edit"></i></a></td>
                    <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash-o fa-lg"></i></a>
                    </td>
                    <br><br>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!--- ------------------Modal with date picker (NgbdModalBasicComponent)---------------------->
        <ng-template #content1 let-modal >
          <div class="modal-header" id="backMedel">
            <h4 class="modal-title" id="modal-basic-title" id="fontColor_medel">Add Video Advertise</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <table class='table'>
              <thead>
                <tr>
                  <td class="h">Url for Youtube</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <form (submit)="onSubmitYoutube(form)" #form="ngForm" autocomplete="off">
                      <input type="text" placeholder="Youtube video url" name="url" #url="ngModel"
                        [(ngModel)]="service.formDataYoutube.url" class="form-control col-md">
                      <br><br>
                      <div class="form-row">
                        <div class="form-group col-md">
                          <button type="submit" class="btn btn-outline-success col-md-8"> Save </button>
                        </div>
                        <div class="form-group col-md">
                          <button (click)="onPreview()" type="button" class="btn btn-outline-info col-md-8"> Preview
                          </button>
                        </div>
                      </div>
                    </form>
                    <div *ngIf="isHidden" id="backMedel">
                      <youtube-player [videoId]="idView" (ready)="savePlayer($event)" (change)="onStateChange($event)">
                      </youtube-player>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </ng-template>
        <!--- ------------------Modal with date picker (NgbdModalBasicComponent)---------------------->

      </div>
    </div>
  </div>
</div>